<% if (data.flashMsg) { %>
<div class="flash flash-success" id="flash" role="alert">
	<p><span class="font-medium">Info alert!</span> <%= data.flashMsg %></p>
	<p class="px-2 cursor-pointer" id="flash-close">X</p>
</div>
<% } %>
	